<!-- start custom footer snippets -->
{{page.dir}}<br>
{{page.permalink}}<br>
{% for lang in site.languages %}
    {% if lang == page.lang %}
{{lang}}
    {% else %}
        {% if lang == site.default_lang %}
<a href="/{{site.website_name}}{{page.permalink | remove_first: '/' | remove_first: page.lang }}">{{lang}}</a>
        {% else %}
            {% if page.lang == "en" %}
<a href="/{{site.website_name}}/{{lang}}/{{page.permalink}}">{{lang}}</a>
            {% else %}
<a href="/{{site.website_name}}/{{lang}}/{{page.permalink | remove_first: '/' | remove_first: page.lang}}">{{lang}}</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
<br>
<a href="/{{site.website_name}}/sitemap/">Sitemap</a><br>
<!-- end custom footer snippets -->
