<!-- start custom footer snippets -->
{% for lang in site.languages %}
    {% if lang == page.lang %}
{{site.data[lang].l10n.language_name | default: lang}}
    {% else %}
        {% if lang == site.default_lang %}
<a href="/{{site.website_name}}{{page.permalink | remove_first: '/' | remove_first: page.lang }}">{{site.data[lang].l10n.language_name | default: lang}}</a>
        {% else %}
            {% if page.lang == "en" %}
<a href="/{{site.website_name}}/{{lang}}/{{page.permalink| remove_first: '/'}}">{{site.data[lang].l10n.language_name | default: lang}}</a>
            {% else %}
<a href="/{{site.website_name}}/{{lang}}/{{page.permalink | remove_first: '/' | remove_first: page.lang| remove_first: '/'}}">{{site.data[lang].l10n.language_name | default: lang}}</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
<br>
<a href="/{{site.website_name}}/sitemap/">Sitemap</a><br>
<!-- end custom footer snippets -->
